<table>
  <tr>
    <td><p style="font-size:45px; color: #55BBD2">Data Analysis with Python</p></td>
    <td><img src="course_images/lmb_logo.svg" alt="LMB Logo" width="500" height="600" align="right"></td>
  </tr>
</table>
<table>
  <tr>
    <td><p style="font-size:15px; color: #55BBD2">Version: May 2025</p></td>
  </tr>
</table>

# Licence

This manual is © 2025, Steven Wingett

This manual is distributed under the creative commons Attribution-Non-Commercial-Share Alike 2.0 licence. This means that you are free:

•	to copy, distribute, display, and perform the work

•	to make derivative works


Under the following conditions:

•	Attribution. You must give the original author credit.

•	Non-Commercial. You may not use this work for commercial purposes.

•	Share Alike. If you alter, transform, or build upon this work, you may distribute the resulting work only under a licence identical to this one.

Please note that:

•	For any reuse or distribution, you must make clear to others the licence terms of this work.
•	Any of these conditions can be waived if you get permission from the copyright holder.
•	Nothing in this license impairs or restricts the author's moral rights.

Full details of this licence can be found at 
http://creativecommons.org/licenses/by-nc-sa/2.0/uk/legalcode

# Exercises

Please note that exercises prefixed with an asterisk (\*) need not be completed during the course as these are typically more challenging questions.  Having said that, if you are getting ahead during the course and have time to try them, well why not give them a go.

<div class="alert alert-success">

## Exercise 1

**a1.** Open JupyterLab (using JupyterHub on the LMB's intranet, or on your local machine.)

**a2.** Open the course notebook by clicking on the link given to you.
</div>

<hr>

<div class="alert alert-success">

## Exercise 2

**a1.** Open a new notebook.

**a2.** In the first cell on the notebook enter the code:

`print('Hello World!')`

Then run the cell.  What do you see?

**a3.** Create a new cell and convert it to a markdown cell.  Enter the text:

`This is regular font`

`*This is in italics*`

`**This is in bold**`

`` `This is in-code highlighting` ``

`# Heading1`

`## Heading2`

`### Heading3`

Then run the cell.  What do you see?

**a4.** Move the markdown cell to the top of the notebook.

**a5.** Copy the first cell and convert it to raw format.  Run the cell.  What is the output?

**a6.** Delete the cell you have just made.  

**a7.** Save the notebook in your current directory and name it: "my_saved_notebook.ipynb".  

**a8.** Close the notebook.

<hr>

**b1.** Re-open the notebook you have just made and run the following magic command in a code cell.  What is it telling you?

`%pwd`

**b2.** Copy and paste the code below into cell and run the cell.  What do you see?

    import seaborn as sns
    df = sns.load_dataset("penguins")
    df   
    
<br>    
    
**b3.** Copy and paste the code below into a cell and run the cell.  What do you see?   

    sns.pairplot(df, hue="species")
<br>

**b4.** Export this notebook as an HTML file.

<hr>

**c1.** Using the file navigator menu in JupyterLab, look in the folder "course_exercises_data"

You should be able to see files in there.

**c2.** Open the file "data.tsv" with JupyterLab.  What is the data?

**c3.** Open the file "image.svg" with JupyterLab.  What is the image?  Can you rotate the image and zoom-in / zoom-out?

<hr>

</div>

<hr>

<div class="alert alert-success">
    
## Exercise 3

Calculate in code cells:

**a1.** Five plus seven (5 + 7)

**a2.**	Eight minus ten

**a3.** Nine multiplied by eleven

**a4.** Minus fifteen divided by three

**a5.** Three cubed


<hr>

Calculate in code cells:

**b1.** The square root of 2 (remember: determining the nth root of a number is the same as raising that number to the power of 1/n).

**b2** One trillion is 1,000,000,000,000.  Multiply 3.2 trillion by 2.5.  To simplify this calculation, use scientific notation to represent a trillion.

**b3** Determine the value in grams of 2.3 picograms multiplied by 45.3.

<hr>

Write **one-line expressions** to do the following comparisons.  The answer should be a **boolean** value.

**c1.** Evaluate whether 0 is equal to -0

**c2.**	Evaluate whether 10 is not equal to 10.000

**c3.** Evaluate whether (856 * 7) is greater than (864 * 7.2)

**c4.** Is 9 / 3 less than or equal to 33 / 11?

<hr>
    
Use a code cell to write **one-line expressions** to calculate the following (use parentheses to make the calculations more readable):

**d1.**  I buy 5 sandwiches at £1.20 and 8 rolls at £2.15.  How much will they all cost?

**d2** One thousand pounds is shared equally between 20 men and 30 women.  How much does each person receive?

**d3** I work for 3 hours at £15.20 per hour, 9 hours at £17.45 per hour and 2 hours at £24.00 per hour.  I then pay 20% income tax on the money earned.  How much money do I take home?    
    
<hr>    

**e1.** Concatenate the following strings into a single one-line string: \
Con \
cat \
en \
ate

**e2.** Concatenate the phrase “To be or not to be” from its constituent words (think about how to create the spaces between words).

**e3.** Write a single-line expression that comprises the following phrase 20 times: "All work and no play makes Jack a dull boy". (You don't need to type out the phrase 20 times!)

<hr>    
    
**f1.** You are given the following protein sequence:
    
MKNTVKLSLIGFVMLTVLLLGETVIAQKRKPCYSQEPDKTCEVNRCKANCVKKHKKILAFTSCIKENNGNMYCRCQYPCPP
    
What is the 42nd amino acid in this peptide (using a 1-based co-ordinate system)?
    
**f2.** Extract the signal peptide, which encompasses positions 1 to 26 (using a 1-based co-ordinate system).
    
**f3.** Extract the remainder of the peptide.
    
**f4.** Extract the last 10 amino acids.

**f5.** Extract every 5th amino acid in the sequence.
 
**\*f6.** Reverse the sequence. 
</div>

<hr>

<div class="alert alert-success">

## Exercise 4

**a1.** Check the datatype returned for each of the following calculations:\
i) 10 * 3\
ii) 22 / 7\
iii) '10' * 3

**a2.** Convert the result of '10' * 3 into an integer and then check it is an integer.

<hr>

**b1.**  Assign the following DNA sequence to a variable named `dna`:
GATATCTAGTCTTCTGATAGAGATCTGATGGGGATTATTATAGCTTCTGATCGGTTT

**b2.** Display the sequence using the `print()` function on the newly created variable `dna`.

**b3.** What is the length of the DNA sequence? (Hint: use the `len()` function)

**b4.**  How many times does the BglII restriction site AGATCT occur in the sequence? (Hint: we already covered this method). 

**b5.** Convert the sequence to lower case. (Hint: We've not covered this method yet, but its name is intuitive.) 
    
<hr>

**\*c1.**  Use the Contextual Help to investigate the functions we have just covered.

<hr>

<div class="alert alert-success">

## Exercise 5

**a1.** Create a **list** of the planets, in order of average distance from the sun:\
Mercury\
Venus\
Earth\
Mars\
Jupiter\
Saturn\
Uranus\
Neptune

**a2.**  Check you have indeed created a list containing planets.

**a3.**  Using the list, print out the name of the planet closest to the sun.

**a4.**  Print out the name of the planet furthest from the sun.

**a5.**  Print out the name of every third planet from the sun.

**a6.**  Print out the names of the planets from the furthest from the sun to the closest.

**\*a7.**   Suppose we want to print out the names of the planets in alphabetical order, but we DON'T want to change the order of the planets in the list.  Well there is a function that can do this.  Take a look at the Python documentation (https://docs.python.org/3/library/functions.html) and see if you can find and use that function.
</div>

<hr>

<div class="alert alert-success">

## Exercise 6

**a1.**  Create a **dictionary** named "elements" of the chemical elements:\
H: Hydrogen\
Li: Lithium\
Na: Sodium\
K: Potassium

**a2.**  Retrieve from the dictionary the name of the chemical element with symbol Na.

**a3.**  Remove Hydrogen from the dictionary

<hr>

Generate the **ranges** objects described below (check your answers by passing the range to a list and view the results).

**b1.**  Create a range of integers from 1 to 7 inclusive.

**b2.**  Create a range of integers -5 to 3 inclusive.

**b3.**  Create a range of all the odd numbers from -3 to 5 inclusive

<hr>
    
**c1.**  Print to the screen all the variables in memory using the `%whos` magic.

<hr>
    
**\*d1.**  Create a list that contains the planets list, the chemical elements dictionary and the three ranges objects.

</div>

<hr>

<div class="alert alert-success">

## Exercise 7
    
**a1.** Declare a variable `my_value` and assigning it a numerical value of your choosing. Then perform the conditional tests listed below. Print an appropriate message to the screen if the conditional test returns a `True` result.

i) Write a conditional expression that checks whether my_value is equal to 10

ii) Write a conditional expression that checks whether my_value is less than 5.

iii) Write a conditional expression that checks whether my_value is greater than or equal to 1001.

iv) Write a conditional expression that checks whether my_value is not equal to 7.  

<hr>
    
**b1.**  Use a `while` loop to calculate the sum of the first 100 natural numbers (i.e. 1 to 100).

</div>

<hr>

<div class="alert alert-success">

## Exercise 8

**a1.**  Create a Series named "buildings" which contains the following integers:\
2717, 2227, 2073

**a2.**  These are heights of buildings, but they are in feet, whereas we want height values in metres. To do the conversion divide all the existing heights by 3.281.

**a3.**  Perform a logical test that reports whether a height is greater than 800 metres.  The test should return a Series of `True` / `False` values.    
</div>

<hr>

<div class="alert alert-success">

## Exercise 9
    
**a1.**  Add an index to the `buildings` Series with the following names:
Burj, Merdeka, Shanghai

**a2.**  Use the Series created in the previous exercise.  Set the index name to: "Building_Name".

**a3.**  Let's suppose the three building are to be extended by placing antennas on the top.  The height increases (metres) will be:

Merdeka: 10
Burj: 5
Shanghai: 12

Create a Python dictionary recording these value and create a new pandas Series named "antennas" from this dictionary.

**a4.**  Now add the "buildings" and "antennas" Series together.  Does the order of the values in their respective Series affect the final totals?

<hr>

**b1.**  Create a Series called "forename" containing the first name of *3* people on this course.

**b2.**  Create a Series called "surname" containing the surnames of the first *2* of those people (in the same order).

**b3.**  Use the addition operator (+) to combine those two Series into a new Series named "fullname".

**b4.**  Print out the `fullname` Series.  What do you see ?

**b5.**  Use the `isnull()` method to identify `NaN` values in the `fullnames` Series.

<hr>

**\*c1.** Create a pandas Series that contains the first 100 values of the Nine Times Table i.e. 9, 18,.., 891, 900.
    
</div>

<hr>

<div class="alert alert-success">
    
## Exercise 10

**a1.**   Let's place the following gene expression values in a DataFrame.  Each column should be a sample and each row a gene.
    
Sample1: GeneA:234.1, GeneB:67.3, GeneC:1972.1
    
Sample2: GeneA:224.4, GeneB:90.3, GeneC:34.0
    
Sample3: GeneA:277.1, GeneB:78.2, GeneC:2312.7
    
**a2.**  Use the `shape` attribute to get the dimensions of this DataFrame.
    
**a3.**  Use the `info()` method to view the information about this DataFrame.
     
</div>

<hr>

<div class="alert alert-success">

## Exercise 11

**a1.**  Import the Seaborn 'titanic' test dataset.

**a2.**  Use `loc[]` to print out the "age" column.

**a3.**  Use `loc[]` to print out the "class" and "embark_town" columns.

**a4.**  Use `loc[]` to print out the last 5 columns.

**a5.**  Use `loc[]` to print out the last 5 columns of the last 5 rows.

**a6.** Create a Boolean list and pass it to `loc[]` to print the second, fourth, sixth and fifteenth columns.

</div>

<hr>

<div class="alert alert-success">

## Exercise 12

**The data files for the following exercises can be found in the "course_exercises_data" folder.**
    
**a1.**  Import the dataset file "Biomass_of_Herbivorous_Fish.tsv".

**a2.**  Get the dimensions of the DataFrame using `shape`.
    
**a3.** Display information in the DataFrame using `info()`.
    
**a4.** View the top of the data with the `head()` method.
    
**a5.** View the bottom of the data with the `tail()` method.    

**a6.**  Use `iloc` to print to the screen the first three rows.

**a7.**  Use `iloc` to print to the screen the second row and columns at **positions** 3, 5, 2 (in that order).

**a8.**  Use `iloc` to print to the screen the bottom right-most element.
    
<hr>
    
**\*b1.** Using dict-like notation on the gene expression DataFrame from the previous exercise, print out the "Sample1" column.
    
</div>

<hr>

<div class="alert alert-success">

## Exercise 13
**a1.** Re-import the data Herbivorous fish dataset.  Use the `sort()` method to sort the Deep.Mean.Biomass.

**a2.**  Pass an argument to the `sort()` method so that "Deep.Mean.Biomass" is sorted from highest-to-lowest (rather than lowest-to-highest).

**a3.**  Sort the data alphabetically by "Family" and then by "Deep.Mean.Biomass" (most to least)

**a4.**  Use the `rank()` method to identify the greatest shallow percentage.

**a5.**  Let's use proportions (relative to 1) rather than percentages (i.e. divide all the percentage columns by 100).

**a6.**  Rename the percentage columns as appropriate.

**a7.**  Round all the results to 1 decimal place.

**a8.**  Create a new column that reports Deep.Mean.Biomass / Shallow.Mean_Biomass.  Name the column: "Deep.Shallow.Ratio".

**a9.**  Produce a Series of the **unique** "Family" values (i.e. remove duplicates, retaining one representative copy).

<hr>

**b1.**  Import the "Childrens_Indoor_Hobbies_During_Lockdown.csv" into a DataFrame (notice this is a comma-separated values spreadsheet).

**b2.**  Create a boolean series (`True` / `False`) representing rows where the 'Number' is greater than 100.  Filter the data using the boolean series.

**b3.**  Create a boolean series (`True` / `False`) representing rows where the 'Number' is greater than 50 but less than 100. Filter the data using the boolean series.

**b4.**  Retrieve the rows not returned above (hint: invert the boolean series with `~`).

**b5.**  Use the `isin()` method to returns rows where Indoor.Hobby is any of "Lego", "Toys", "Puzzles and Games" or "Buckaroo".

**b6.**  Use the `srt.contains()` method to return rows where Indoor.Hobby contains "Video".

**b7.**  Delete the "Percent" column from the DataFrame using the `drop` method (leave the `inplace` parameter set to the default i.e. `False`)
    
**b8.**  Delete the "Number" column from the DataFrame using the `drop` method, but now with the `inplace` parameter set to  `True`).  Check that this has worked.  How is the syntax different from the previous question?

<hr>
    
**\*c1.**  Re-import the "Childrens_Indoor_Hobbies_During_Lockdown.csv" into a DataFrame.  Now use the `query()` method to return the value where Indoor.Hobby is "Computer".
    
**\*c2.**  Import the file "Premier_League_Final_Table_1999.txt" into a DataFrame and append columns:

i) "GD": Goal Difference (Goals For - Goals Against)

ii) "Pts": Points (3 points for a win and 1 for a draw)

Write out the modified table to an MS Excel file.    
    
**\*c3.** Take a dataset of your own and import it into a pandas DataFrame.  Try sorting it and filtering it and outputting fresh results.

</div>

<hr>

<div class="alert alert-success">

## Exercise 14
**a1.**  Import the "Biomass_of_Herbivorous_Fish.tsv" dataset once again. You should be able to see missing values.  Confirm this with the `isnull()` method.

**a2.**  Decide how you want to deal with the rows containing `NaN`.  Either convert the `NaN` values to 0 with the `fillna()` method or remove the offending rows with the `dropna()` method.

**a3.**  Let's abbreviate the "Morpho.Functional.Group".  Remove "ivore" from all entries using the `str.replace()` method.  (Hint: removing text is the same as replacing it with '').

**a4.**  On further thoughts, let's convert the "Morpho.Functional.Group" to numerical values.  Use the `replace()` method to convert 'Detrit' to 'D', 'Alg' to 'A', and 'Omn' to 'O'.
    
</div>

<hr>

<div class="alert alert-success">

## Exercise 15

**a1.**  Let's import the children's indoor hobbies again and then sort the DataFrame by "Number" (most-to-least).  Notice the index numbers no longer increment by 1. Let's fix this with the `reset_index()` method (remember to drop the original index values).

**a2.**  Convert all the hobby counts to binary values using the `apply()` method and the Python `categorise()` function shown below.
    
    def categorise(n):
        if n > 100:
            return 'Very Popular'
        elif n > 30:
            return 'Popular'
        elif n > 10:
            return 'Somewhat popular'
        else:
            return 'Unpopular'


**a3.**  Make the hobby name the index of the DataFrame by setting the index attribute of the DataFrame.  (Prior to doing this, convert space (' '), ampersand('&') and forward slash  '/' to the underscore (_) character.)

<hr>
    
**b1.** Explain what is happening with this code:
    
    df = pd.DataFrame(
        {"a" : [1, 2, 3],
         "b" : [4, 5, 6],
         "c" : [7, 8, 9]})

    df_subset = df.iloc[:, 1:]
    df_subset.iloc[0, 0] = 100

    df    
  
<hr>    

**\*c1.** Write a function that performs the text editing steps described in a3.  Use this function on the "Hobby" column.

**\*c2.**  Import some of your own data into a DataFrame.  Create a novel function to analyse the data.     

</div>

<hr>

<div class="alert alert-success">

## Exercise 16

**a1.**  Import the datasets "Brain_Bodyweight_data.tsv" and "Brain_Bodyweight_Metadata.tsv" into separate DataFrames. Try the `describe()` method on both DataFrames.  What do you see?

**a2.**  Use the `merge()` method to combine the data with the metadata.

**a3.**  Use the `value_counts()` method to give a tally of the different unique entries in the "Category" column.

<hr>

**b1.**  Import the Indoor and Outdoor Lockdown hobbies data into separate DataFrames.  Use `concat()` to combine the DataFrames.

<hr>

**c1.**  Import the Seaborn test dataset "penguins" and remove all but the 'species' and 'body_mass_g' columns.  Use the `groupby()` method to group the samples by the "body_mass_g" column.  

**c2.**  Report the mean "body_mass_g" value for each "species".

<hr>

**\*d1.**  Take a dataset of your own and create a new metadata file describing your data.   Combine your data with the metadata.  Use this combined dataset to produce summary results that incorporate the metadata. 

</div>

<hr>

<div class="alert alert-success">

## Exercise 17
    
**a1.**  Import the dataset "Cuttlefish_Buoyancy.tsv".  Edit the dataset to only include the columns:\
ID\
treatment\
hatching_date\
days_until_sampling\
floating\
density

**a2.**  Split days/month/year for the hatching_date into separate columns.  Remove the original column.

**a3.**  Edit the ID column so it comprises the current ID in addition to the treatment applied.  Drop the original treatment column.

**a4.**  Observe how the cuttlefish DataFrame is structured after using `transpose()` method.  Transpose the data back again.

**a5.**  Convert the cuttlefish DataFrame to long/tidy format.  Write the data to Excel an file.

**a6.**  Convert the data back to wide format (notice the column/row labels have now changed).

</div>

<hr>

<div class="alert alert-success">

## Exercise 18
    
**a1.**  Import the Brain Bodyweight data file again.  Create 2 new columns that record the log<sub>2</sub> bodyweight and log<sub>2</sub> brain weight.

**a2.**  Let's make a new column named Body.Weight.Classification.  Use `np.where()` to classify anything weighing less than 10kg as "Small" and anything else as "Not_Small".  Save the output in a format of your choosing.

<hr>

**b1.**  Go to the NumPy website: https://numpy.org.  Find out more about the mathematical operations and statistics tools available in this library.

<hr>
    
**\*c1.**  We are investigating whether 2 drugs give different outcomes when treating a disease.
100 patients receive Drug A of which 41 are cured and 59 are not cured. 
100 patients receive Drug B, of which 62 are cured and 38 are not cured.

Perform a two-sided Fisher's Exact test to decide whether the drugs have different treatment outcomes (significance threshold: p < 0.01)

<hr>
    
**\*d1.**  Take a look at the Scanpy (https://scanpy.readthedocs.io/en/stable/) documentation.

</div>

<hr>

<div class="alert alert-success">
    
## Exercise 19

**a1.**  Import the dataset "Biochemical_Oxygen_Demand.tsv" into a DataFrame.  Use the DataFrame method `.plot()` to visualise the data.

**a2.**  Now make a barplot using a DataFrame method.

<hr>

**b1.**  Import the Body weight vs Brain weight data you created earlier (if you were not able to generate this file in a previous exercise, you will find a copy of the file named "pre_made_brain_body_classification.csv" in the "course_exercises_data" folder.  Make a scatter plot using Seaborn of log<sub>2</sub> brain weight (y-axis) vs log<sub>2</sub> body weight (x-axis).

**b2.**  Use the hue parameter to display Small / Not_Small animals in different colours.  Change the theme to "dark".

**b3.**  Merge this dataset with its associated metadata, as we did in a previous exercise.  Now create a scatterplot which uses the hue to differentiate between Small / Not_Small animals and uses different shape (style) to distinguish between Wild/Extinct/Domesticated species.

**b4.**  Now use a facet grid to explore how the brain/body weight relationship varies with our Wild/Extinct/Domesticated classification.

**b5.**  Export the plot as PNG and SVG files.

**b6.**  Use Plotly to make an interactive version of the first scatterplot you created.

<hr>

**\*c1.**  Use NumPy to create 1000 random variables from a Normal distribution of mean=5, standard deviation=1.5.  Display these variables on a histogram.

**\*c2.**  Go to https://seaborn.pydata.org/examples/index.html and look at the code for graphs most relevant to your own work.  Can you make these plots for your own datasets?

</div>